<h1>{{showTime}}</h1>

<div *ngIf="!num" >
  <span *ngIf="!num1">
    <button disabled
      (click)="reset()">Reset</button>
  </span>
  <span *ngIf="num1">
    <button (click)="reset()">Reset</button>
  </span>
  <button (click)="start()">Start</button>
  <button disabled
    (click)="count()">Count</button>
</div>
<div *ngIf="num">
  <button disabled
  (click)="reset()">Reset</button>
  <button (click)="stop()">Stop</button>
  <button (click)="count()">Count</button>
</div>
<div *ngFor="let watchObj of watchList">
  <span>计次</span>{{watchObj.id}}  <span>{{watchObj.time}}</span>
</div>




